body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: var(--backgroudColor);
}

main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 5% auto 0;
}

h2 {
    text-align: center;
    color: var(--primaryColor);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.catalog-section {
    text-align: center;
}

.card {
    display: inline-block;
    width: 30%;
    min-height: 550px;
    margin: 1%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}


.card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    box-sizing: border-box;
}

.card-content p,
.card-content h4 {
    color: var(--textColorDark);;
    font-size: 0.95rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primaryColor);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    animation: fadeIn 0.3s ease-in-out;
    transform-origin: center center;
}

.modal-content h3 {
    margin-top: 0;
    color: var(--secondaryColor);
    font-size: 1.5rem;
}

.modal-content p {
    font-size: 1rem;
    color: var(--textColorDark);
    line-height: 1.6;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondaryColor);
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* fundo escuro */
    z-index: 1000;
}

