body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: var(--backgroudColor);
}

main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

h2 {
    text-align: center;
    color: var(--primaryColor);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.catalog-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content p {
    color: var(--textColorDark);
    font-size: 0.95rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.card-content h4 {
    color: var(--textColorDark);;
    font-size: 0.95rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: var(--primaryColor);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #7a2d45;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content h3 {
    margin-top: 0;
    color: var(--secondaryColor);
    font-size: 1.5rem;
}

.modal-content p {
    font-size: 1rem;
    color: var(--textColorDark);
    line-height: 1.6;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondaryColor);
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}