.homeConteudo {
    text-align: center;
    padding: 30px;
}

.vinheriaApresentacao, .nossosEspecialistas {
    display: inline-block;
    vertical-align: tops;
    width: 45%;
    margin: 1%;
    background-color: var(--textColorLight);
    color: #201E1F;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

.vinheriaApresentacao h1,
.nossosEspecialistas h1 {
    color: var(--secondaryColor);
    padding-bottom: 15px;
    text-align: center;
    font-size: 24px;
}

#videoVinhos {
    padding: 40px 30px;
    text-align: center;
}

#videoVinhos video {
    border-radius: 10px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
}

hr {
    background-color: #74776B;
    height: 2px;
    border: none;
    margin: 30px auto;
    width: 80%;
}
