:root {
    --primaryColor: #5D1328;
    --secondaryColor: #993955;
    --textColorDark: #201E1F;
    --textColorLight: #FFF;
    --jokerColor:  #74776B;
    --backgroudColor: #EBEBD3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: var(--backgroudColor);
    color: var(--textColorDark);
}