@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primaryColor: #5D1328;
    --secondaryColor: #993955;
    --textColorDark: #201E1F;
    --textColorLight: #FFF;
    --jokerColor:  #74776B;
    --backgroudColor: #EBEBD3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: var(--backgroudColor);
    color: var(--textColorDark);
}

header {
    width: 100vw;
    z-index: 100000;
    position: fixed;
    top: 0;
}

main {
    margin-top: 5%;
}

nav {
    background-color: var(--primaryColor);
    padding: 0.5%;
    overflow: hidden;
    text-align: justify;
}

nav::after {
    content: '';
    display: inline-block;
}

nav #logo {
    width: 40%;
    text-align: left;
    padding-left: 5%;
}

nav ul,
nav #logo {
    display: inline-block;
    vertical-align: middle;
}

nav ul {
  text-align: right;
  width: 50%;
  list-style: none;
  margin: 0;
  margin-right: 5%;
  padding: 0;
  text-align: right;
}

nav ul li {
  display: inline-block;
  margin-left: 5%;
}

nav ul li a {
  color: var(--textColorLight);
  text-decoration: none;
}

#logo {
    scale: 1.1;
}

.link-menu{
    color: var(--textColorLight);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

p{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}


p::selection{
    background-color: var(--primaryColor);
    color: var(--textColorLight);
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: var(--backgroudColor);
}


footer {
    width: 100%;
    background-color: #5D1328;
    color: var(--textColorLight);
    padding: 40px 30px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

footer .contatos,
footer .formulario {
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
    width: 45%;
}

footer h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--textColorLight);
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: var(--textColorLight);
    text-decoration: none;
}

footer ul li a:hover {
    color: #74776B;
}

footer form {
    width: 100%;
}

footer form > * {
    margin-bottom: 1%;
}

footer input,
footer textarea {
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

footer button {
    width: 50%;
    background-color: var(--secondaryColor);
    color: var(--textColorLight);
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}